:root {
    --scale: 0.66;
    --left: 50%;
    --top: 50%;
    --scroll-box-offset: 51%;
    --left-panel-left: 25%;
    --right-panel-left: 75%;
}

body {
    background: rgb(255, 255, 255);
    /* hide scrollbars */
    overflow: hidden;
}

#title {
    z-index: 100;
    /* give it width in order to center it */
    left: 50%;
    width: 800px;
    margin-left: -400px;
    top: 2%;
    position: absolute;
    /* text and font */
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(141, 141, 141);
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
}

.landing_page_02,
.landing_page_03 .left_panel,
.landing_page_03 .right_panel,
.landing_page_04 .left_panel,
.landing_page_04 .right_panel,
#exchange_icon {
    display: none;
}

.full_size_box {
    width: calc(var(--scale) * 512px);
    margin-left: calc(var(--scale) * -256px);
    height: calc(var(--scale) * 598px);
    margin-top: calc(var(--scale) * -299px);
}

.half_size_box {
    width: calc(var(--scale) * 256px);
    margin-left: calc(var(--scale) * -128px);
    height: calc(var(--scale) * 299px);
    margin-top: calc(var(--scale) * -150px);
}

.zero_size_box {
    width: 0;
    margin-left: 0;
    height: 0;
    margin-top: 0;
}

.full_size_item {
    z-index: 3;
    width: calc(var(--scale) * 256px);
    margin-left: calc(var(--scale) * -128px);
    height: calc(var(--scale) * 256px);
    margin-top: calc(var(--scale) * -128px);
}


/* landing_page_01 */

.landing_page_01 div {
    left: var(--left);
    top: var(--top);
    position: absolute;
}

#box {
    z-index: 2;
    background: url(./res/box.png);
    background-size: cover;
}

#rotating_text {
    z-index: 5;
    width: calc(var(--scale) * 968px);
    margin-left: calc(var(--scale) * -484px);
    height: calc(var(--scale) * 724px);
    margin-top: calc(var(--scale) * -362px);
    background: url(./res/rotating_text.png);
    background-size: cover;
}

#hidden_dropzone {
    z-index: 4;
}

#upload_icon {
    z-index: 5;
    width: calc(var(--scale) * 120px);
    margin-left: calc(var(--scale) * -60px);
    height: calc(var(--scale) * 206px);
    margin-top: calc(var(--scale) * -103px);
    background: url(./res/upload_icon.png);
    background-size: cover;
    animation: MoveUpDown 1s linear infinite;
}

#upload_icon:hover {
    cursor: pointer;
}


/* landing_page_02 */

.landing_page_02 div {
    left: var(--left);
    top: var(--top);
    position: absolute;
}

#rotating_ray {
    z-index: 1;
    width: 2098px;
    margin-left: -1049px;
    height: 2098px;
    margin-top: -1049px;
    background: url(./res/rotating_ray.png) center;
    animation: Rotation 5s linear infinite;
}

#box2 {
    z-index: 2;
    background: url(./res/box2.png);
    background-size: cover;
}


/* landing_page_03 */

.landing_page_03 .left_panel div {
    left: var(--left);
    top: var(--top);
    position: absolute;
}

.landing_page_03 .right_panel {
    width: auto;
    height: auto;
    left: var(--left);
    top: calc(var(--top) - 20%);
    position: absolute;
}

#box3 {
    background: url(./res/box2.png);
    background-size: cover;
}

#my_item {
    background: url(./res/item/tissue.png);
    background-size: cover;
}

.input_form {
    display: block;
    width: 550px;
    height: 36px;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 20px -2px #555353;
}

.input_form input {
    padding-left: 10px;
    float: left;
    width: 450px;
    height: 26px;
    border: 0;
    margin: 2px;
    padding: 2px;
    font-size: 1.8em;
    border-top-style: none;
}

.input_form input:focus {
    outline: 0;
}

.input_form input::placeholder {
    color: rgb(177, 177, 177);
    font-style: italic;
}

.input_form button {
    overflow: visible;
    position: relative;
    float: right;
    top: -6%;
    width: 90px;
    height: 110%;
    font-size: 1.4em;
}

.input_form button:hover {
    cursor: pointer;
}

.record {
    z-index: 5;
    width: calc(var(--scale) * 93px);
    margin-left: calc(var(--scale) * -46px);
    height: calc(var(--scale) * 93px);
    margin-top: calc(var(--scale) * -46px);
    background: url(./res/record_icon.png);
    background-size: cover;
}

.record:hover {
    cursor: pointer;
}


/* landing_page_04 */

.landing_page_04 .left_panel div {
    left: var(--left-panel-left);
    top: var(--top);
    position: absolute;
}

.landing_page_04 .right_panel div {
    left: var(--right-panel-left);
    top: var(--top);
    position: absolute;
}

.landing_page_04_text {
    z-index: 4;
    top: calc(var(--top) - 13%) !important;
    text-align: center;
}

#box4 {
    background: url(./res/box2.png);
    background-size: cover;
}

#my_item4 {
    background: url(./res/item/tissue.png);
    background-size: cover;
}

#left_record {
    top: calc(var(--top) + 32%);
}

#exchange_icon {
    left: var(--left);
    top: var(--top);
    position: absolute;
    width: calc(var(--scale) * 162px);
    margin-left: calc(var(--scale) * -81px);
    height: calc(var(--scale) * 170px);
    margin-top: calc(var(--scale) * -85px);
    background: url(./res/exchange_icon.png);
    background-size: cover;
}

#exchange_icon:hover {
    cursor: pointer;
}

#scroll_box1 {
    top: calc(var(--top) - 2 * var(--scroll-box-offset));
    background: url(./res/item/04.png);
    background-size: cover;
}

#scroll_box2 {
    top: calc(var(--top) - var(--scroll-box-offset));
    background: url(./res/item/03.png);
    background-size: cover;
    opacity: 0.5;
}

#scroll_box3 {
    top: var(--top);
    background: url(./res/item/02.png);
    background-size: cover;
}

#right_record {
    top: calc(var(--top) + 32%);
}

#scroll_box4 {
    top: calc(var(--top) + var(--scroll-box-offset));
    background: url(./res/item/01.png);
    background-size: cover;
    opacity: 0.5;
}

#scroll_box5 {
    top: calc(var(--top) + 2 * var(--scroll-box-offset));
    background: url(./res/item/05.png);
}


/* let arrow go up and down */

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1vh);
    }
}


/* let ray rotate forever */

@keyframes Rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}