body {
    background: rgb(255, 255, 255);
    /* hide scrollbars */
    overflow: hidden;
}

#title {
    z-index: 100;
    /* give it width in order to center it */
    left: 50%;
    width: 800px;
    margin-left: -400px;
    top: 2%;
    position: absolute;
    /* text and font */
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(141, 141, 141);
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.landing_page_02,
.landing_page_03 .left_panel,
.landing_page_03 .right_panel {
    display: none;
}


/* landing_page_01 */

.landing_page_01 div {
    left: 50%;
    top: 55%;
    position: absolute;
}

#box {
    z-index: 2;
    width: 512px;
    margin-left: -256px;
    height: 598px;
    margin-top: -299px;
    background: url(./res/box.png);
}

#rotating_text {
    z-index: 3;
    width: 968px;
    margin-left: -484px;
    height: 724px;
    margin-top: -362px;
    background: url(./res/rotating_text.png);
}

#hidden_dropzone {
    z-index: 4;
    width: 512px;
    margin-left: -256px;
    height: 598px;
    margin-top: -299px;
}

#upload_icon {
    z-index: 5;
    width: 120px;
    margin-left: -60px;
    height: 206px;
    margin-top: -103px;
    background: url(./res/upload_icon.png);
    animation: MoveUpDown 1s linear infinite;
}

#upload_icon:hover {
    cursor: pointer;
}


/* landing_page_02 */

.landing_page_02 div {
    left: 50%;
    top: 55%;
    position: absolute;
}

#rotating_ray {
    z-index: 1;
    width: 2098px;
    margin-left: -1049px;
    height: 2098px;
    margin-top: -1049px;
    background: url(./res/rotating_ray.png) center;
    animation: Rotation 5s linear infinite;
}

#box2 {
    z-index: 2;
    width: 512px;
    margin-left: -256px;
    height: 598px;
    margin-top: -299px;
    background: url(./res/box2.png);
}


/* landing_page_03 */

.landing_page_03 .left_panel div {
    left: 50%;
    top: 55%;
    position: fixed;
}

.landing_page_03 .right_panel {
    width: auto;
    height: auto;
    left: 50%;
    top: 40%;
    position: absolute;
}

#box3 {
    z-index: 2;
    width: 512px;
    margin-left: -256px;
    height: 598px;
    margin-top: -299px;
    background: url(./res/box2.png);
}

#tissue {
    z-index: 3;
    width: 256px;
    margin-left: -128px;
    height: 256px;
    margin-top: -128px;
    background: url(./res/item/tissue.png);
    background-size: cover;
}

.input_form {
    display: block;
    width: 550px;
    height: 36px;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 20px -2px #555353;
}

.input_form input {
    padding-left: 10px;
    float: left;
    width: 450px;
    height: 26px;
    border: 0;
    margin: 2px;
    padding: 2px;
    font-size: 1.8em;
    border-top-style: none;
}

.input_form input:focus {
    outline: 0;
}

.input_form input::placeholder {
    color: rgb(177, 177, 177);
    font-style: italic;
}

.input_form button {
    overflow: visible;
    position: relative;
    float: right;
    top: -6%;
    width: 90px;
    height: 110%;
    font-size: 1.4em;
}

.input_form button:hover {
    cursor: pointer;
}

#record_icon {
    width: auto;
    height: auto;
    background: url(./res/record_icon.png);
}


/* let arrow go up and down */

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1vh);
    }
}


/* let ray rotate forever */

@keyframes Rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}